/* Windows 9 GUI控件   
 *    持续更新中...    
 */

a.win9-button{
    padding: 5px 15px;
    margin: 5px;
    background-color: #c9c9c9;
}

a.win9-button:hover{
    background-color: #d5d5d5;
}

.link{
    color: #2983cc;
    text-decoration: underline;
    cursor: pointer;
}

.link:hover{
    color: #2957cc;
    text-decoration: none;
}

.link.dark{
    color: #0b3354;
    text-decoration: underline;
    cursor: pointer;
}

.link.dark:hover{
    color: #061c2e;
    text-decoration: none;
}

a.win9-notice-button{
    padding: 3px 25px;
    margin: 10px;
    background-color: #210562;
    border: 3px solid white;
}

a.win9-notice-button:hover{
    background-color: #4120aa;
}

input.win9gui[type='input']{
    border:#888 2px solid;
    outline: 0;
    font-size: 13pt;
    transition: border 0.5s;
}

input.win9gui[type='input']:focus{
    border:#2697f3 2px solid;
}
