/* Windows 9 GUI控件   
 *    持续更新中...    
 */

a.win9-button{
    padding: 5px 15px;
    margin: 5px;
    background-color: #c9c9c9;
}

a.win9-button:hover{
    background-color: #d5d5d5;
}

.link{
    color: #2983cc;
    text-decoration: underline;
    cursor: pointer;
}

a.win9-notice-button{
    padding: 3px 25px;
    margin: 10px;
    background-color: #210562;
    border: 3px solid white;
}

a.win9-notice-button:hover{
    background-color: #4120aa;
}