@import url(bootstrap-icon/bootstrap-icons.min.css);
@import url(win9gui.css);

* {
    moz-user-select: -moz-none;
    -moz-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    background-image: url('win9bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}

.taskbar {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background-color: #76d81970;
    height: 34px;
    padding-top: 10px;
    z-index: 101;
    display: flex;
    border-top: 1px solid gray;
}

.taskbar>.taskbar-icons {
    flex-grow: 1;
    color: rgb(0, 0, 0);
    height: 100%;
    padding: 0px;
    margin-bottom: 0px;
    transition: background-color 0.5s;
    border-color: #7c7c7c;
    border-radius: 5px;
    position: relative;
}

.taskbar>.taskbar-icons>div {
    position: absolute;
    top: 5px;
    bottom: 0px;
    height: 100%;
}


.taskbar>.taskbar-icons>div>icon {
    color: rgb(0, 0, 0);
    height: 100%;
    width: 34px;
    padding: 5px;
    margin: 0px;
    margin-left: 5px;
    padding-top: 15px;
    padding-bottom: 5px;
    transition: background-color 0.5s;
    position: relative;
    border-bottom: solid #01cafd;
}

.taskbar>.taskbar-icons>div>icon>img {
    height: 20px;
    width: 20px;
}

.taskbar>.taskbar-icons>div>icon>i.bi {
    padding: 5px;
}


.taskbar>.taskbar-icons>div>icon:hover {
    background-color: #7c7c7c;
}

.taskbar>.taskbar-icons>div>icon.taskbar-icon.high {
    background-color: #6c6c6c75;
}


.taskbar>.show-desktop {
    width: 10px;
    border-left: 1px solid gray;
    margin: 0px;
    padding: 0px;
    transform: translate(0%, -25%);
}

.taskbar>icon.winlogo>i.bi {
    font-size: 13pt;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.taskbar>icon.winlogo {
    color: rgb(0, 0, 0);
    height: 34px;
    width: 34px;
    padding: 5px;
    margin-bottom: 0px;
    transition: background-color 0.5s;
    top: 50%;
    transform: translate(0%, -25%);
}

.taskbar>icon.winlogo:hover {
    color: rgb(0, 34, 255);
    background-color: #7c7c7c;
}

/* Charm Bar */
.charm-bar {
    display: none;
}

@keyframes charm-bar-show {
    from {
        width: 0px;
    }

    to {
        width: 100px;
    }
}

.charm-bar.show {
    display: flex;
    flex-direction: column;
    width: 100px;
    background-color: #131313;
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100%;
    z-index: 200;
    animation: charm-bar-show 0.2s linear;
    animation-fill-mode: forwards;
}

.charm-bar>.charm-bar-items {
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
}

.charm-bar>.charm-bar-items>.charm-bar-item {
    width: 100px;
    height: 100px;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    transition: background-color 0.5s;
}

.charm-bar>.charm-bar-items>.charm-bar-item:hover {
    background-color: #303030;
}

.charm-bar>.charm-bar-items>.charm-bar-item>i.bi {
    font-size: 40pt;
    color: #fff;
}

.charm-bar>.charm-bar-items>.charm-bar-item.start>i.bi {
    color: #5252fd;
}

.charm-bar>.charm-bar-items>.charm-bar-item>div {
    text-indent: -100px;
    overflow: hidden;
}

.charm-bar>.charm-bar-items>.charm-bar-item>div>img {
    width: 53.33px;
    height: 53.33px;
    filter: drop-shadow(100px 0px white);
    padding-top: 15px;
}

.charm-bar>.charm-bar-items>.charm-bar-item>p {
    font-size: 13pt;
    color: #bbb;
    text-align: center;
    position: absolute;
    left: 0px;
    margin: 0px;
    transform: translate(100%, 0%);
}

.charm-bar-datetime {
    position: absolute;
    bottom: 30px;
    left: 30px;
    background-color: #131313;
    z-index: 200;
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    /* 绝对位置相对于body */
    position: fixed;
}

#charm-bar-time,
#charm-bar-date,
#charm-bar-weekday {
    color: #fff;
    font-weight: 100;
}

#charm-bar-time {
    font-size: 60pt;
}

#charm-bar-date,
#charm-bar-weekday {
    font-size: 25pt;
    padding-left: 30px;
}

.charm-bar-datetime>table {
    border: none;
}


@keyframes start-menu-show {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.start-menu {
    position: absolute;
    bottom: 44px;
    left: 0px;
    background-color: #567160;
    height: 70%;
    width: 420px;
    display: none;
    z-index: 101;
}

.start-menu.show {
    display: block;
    animation: start-menu-show 0.1s linear;
    animation-fill-mode: forwards;
}

.start-menu>.start-menu-item {
    overflow-y: auto;
    overflow-x: hidden;
    height: 50%;
}

.start-menu>.start-menu-item>div>div {
    margin: 0px;
    padding: 10px;
    transition: background-color 0.5s;
    height: 50%;
}

.start-menu>P.start-menu-tips-text {
    margin: 0px;
    margin-top: 15px;
    margin-left: 25px;
    font-size: 18pt;
    margin-bottom: 10px;
}

.start-menu>div.start-menu-power-btn.all-apps {
    position: absolute;
    right: 10px;
    transform: translate(0%, 50%);
}

.start-menu>div.start-menu-power-btn.all-apps>i.bi {
    padding-left: 10px;
    margin: 0px;
}

.start-menu>.start-menu-item>div>div:hover {
    margin: 0px;
    padding: 10px;
    background-color: #7c7c7c;
    color: #fff;
}

.start-menu>.start-menu-item>div>div>i.bi {
    padding: 5px;
    padding-left: 10px;
    font-size: 15pt;
}

.start-menu>.start-menu-item>div>div {
    margin: 0 auto;
}

.start-menu-user {
    display: flex;
    font-size: 20pt;
    position: relative;
    width: 100%;
    transition: background-color 0.5s;
    justify-content: center;
    cursor: pointer;
}

.start-menu-user:hover {
    background-color: rgb(153, 190, 169);
}

.start-menu-user>a {
    position: absolute;
    left: 150px;
    TOP: 50%;
    transform: translate(50%, -50%);
}


.start-menu-user>i.bi {
    margin: 10px;
    margin-right: 10px;
    background-color: #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: relative;
    font-size: 18pt;
    transform: translate(-100%, 0%);
}

.start-menu-user>i.bi::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.start-menu-power {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
}

.start-menu-power-btn {
    height: auto;
    width: 100px;
    background-color: rgb(114, 141, 126);
    transition: background-color 0.5s;
    padding: 5px;
    text-align: center;
    cursor: pointer;
}

.start-menu-power-extensions-btn {
    height: auto;
    width: 20px;
    background-color: rgb(114, 141, 126);
    transition: background-color 0.5s;
    padding: 5px;
    text-align: center;
    cursor: pointer;
}

.start-menu-power-extensions-btn:hover {
    background-color: rgb(153, 190, 169);
}

.start-menu-power-btn:hover {
    background-color: rgb(153, 190, 169);
}

.start-menu-power-btn>i.bi {
    margin-right: 5px;
}

.start-menu-power-extensions {
    display: none;
    position: absolute;
    bottom: 10px;
    right: 9px;
    transform: translate(100%, 0%);
}

.start-menu-power-extensions.show {
    display: block;
    animation: start-menu-show 0.1s linear;
}

.start-menu-power-extensions>div {
    border-color: #7c7c7c;
}



.taskbar-time-show {
    text-align: center;
    margin: 0px;
    padding: 0px;
    margin-right: 5px;
    transform: translate(0%, -25%);
}


.window {
    position: absolute;
    background-color: #76d81970;
    width: 80%;
    height: 80%;
    margin: 0px;
    padding: 0px;
    top: 10%;
    left: 10%;
    display: none;
    border: 1px solid gray;
}

.window.show {
    display: flex;
    flex-direction: column;
}


.window.max {
    top: 0px;
    left: 0px;
    bottom: 44px;
    right: 0px;
    width: 100%;
    height: auto;
}

.window>.title-bar {
    height: 30px;
    width: 100%;
    display: flex;
}

.window>.title-bar>icon {
    height: 20px;
    width: 20px;
    padding: 5px;
    border-radius: 15%;
}

.window>.title-bar>icon>img {
    height: 20px;
    width: 20px;
    margin-left: 5px;
}

.window>.title-bar>.win9-title-text {
    flex-grow: 1;
    margin: 0px;
    padding: 0px;
    padding-top: 5px;
}

.window>.title-bar>.win9-windows-control-btn-group {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: auto;
    display: flex;
}

.window>.title-bar>.win9-windows-control-btn-group>a.win9-windows-control-btn {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 45px;
    transition: background-color 0.5s;
    position: relative;
}

.window>.title-bar>.win9-windows-control-btn-group>a.win9-windows-control-btn.min:hover {
    background-color: gray;
}

.window>.title-bar>.win9-windows-control-btn-group>a.win9-windows-control-btn.max:hover {
    background-color: gray;
}

.window>.title-bar>.win9-windows-control-btn-group>a.win9-windows-control-btn.max>img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.window>.title-bar>.win9-windows-control-btn-group>a.win9-windows-control-btn.close {
    background-color: rgb(183, 0, 0);
    font-size: 20pt;
}

.window>.title-bar>.win9-windows-control-btn-group>a.win9-windows-control-btn.close:hover {
    background-color: red;
}

.window>.title-bar>.win9-windows-control-btn-group>a.win9-windows-control-btn>i.bi {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.window>.window-frame {
    background-color: white;
    position: relative;
    width: calc(100%-20px);
    flex-grow: 1;
    margin: 10px;
    margin-top: 5px;
}


/* 设置的样式表 */
.win9-setting {
    display: flex;
    width: 100%;
    height: 100%;
}

.win9-setting>.left {
    width: 550px;
    height: auto;
    background-color: #f2f2f1;
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
}

.win9-setting>.left>a {
    color: #4120aa;
    font-size: 30pt;
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 85px;
}

.win9-setting>.left>.item {
    flex-grow: 1;
    background-color: #f2f2f1;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 102.67px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding-bottom: 40px;
    overflow-y: auto;
    overflow-x: hidden;
}

.win9-setting>.left>.item>a.items {
    background-color: #f2f2f1;
    padding-left: 85px;
    color: #000;
    font-size: 16pt;
    padding-top: 5px;
    padding-bottom: 5px;
}

.win9-setting>.left>.item>a.items:hover {
    background-color: #dcdcdc;
}

.win9-setting>.left>.item>a.items.checked {
    background-color: #4120aa;
    color: #fff;
}


.win9-setting>.right {
    background-color: #fdfdfd;
    flex-grow: 1;
}

.win9-setting>.right>.setting-page {
    padding-left: 40px;
    padding-right: 40px;
}

.win9-setting>.right>.setting-page>.tit-text {
    color: #4120aa;
    font-size: 16pt;
}

.win9-setting>.right>.setting-page>.mainly-text {
    color: #000;
    font-size: 10pt;
    font-weight: bold;
}


/* 计算器的样式表 */

.window.calc {
    width: auto;
    height: auto;
    min-width: 170px;
}

.window.calc>.window-frame>input.number-show {
    text-align: right;
    font-size: 30pt;
    padding: 5px;
    margin: 5px;
    width: 230px;
    overflow: hidden;
    border: 0px;
    outline: none;
}

.window.calc>.window-frame>.button-frame {
    margin: 0px;
    margin-bottom: 8px;
}

.window.calc>.window-frame>.button-frame>.line {
    display: flex;
    height: 100%;
}

.window.calc>.window-frame>.button-frame>.line>a.win9-button {
    flex-grow: 1;
    width: 20px;
    text-align: center;
    font-size: 16pt;
}

/* winver的样式表 */
.window.winver {
    height: auto;
    width: 576px;
    min-height: 500px;
}

.window.winver>.title-bar>icon>img {
    height: 16px;
    margin-top: 3px;
}

.window.winver>.title-bar>p.win9-title-text {
    padding-left: 10px;
}

.window.winver>.window-frame>div>p.title {
    color: #5bc6f8;
    font-size: 30pt;
    text-align: center;
}

.window.winver>.window-frame {
    position: relative;
}

.window.winver>.window-frame>div>hr {
    margin: 10px;
}

.window.winver>.window-frame>div>p.title>i.bi.bi-windows {
    margin-right: 10px;
}

.window.winver>.window-frame>div>div.text {
    margin: 75px;
    margin-top: 10px;
    margin-bottom: 60px;
    font-size: 10pt;
}

.window.winver>.window-frame>div>a.ok-button {
    position: absolute;
    right: 10px;
    bottom: 10px;
}