/* 设置的样式表 */
.window.setting>.window-frame {
    overflow: hidden;
}

.win9-setting {
    display: flex;
    width: 100%;
    height: 100%;
}

.win9-setting>.left {
    width: 550px;
    height: auto;
    background-color: #f2f2f1;
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    min-width: 343.23px;
    max-width: 343.23px;
}

.win9-setting>.left>a {
    color: #4120aa;
    font-size: 30pt;
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 85px;
}

.win9-setting>.left>.item {
    flex-grow: 1;
    background-color: #f2f2f1;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 102.67px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding-bottom: 40px;
    overflow-y: auto;
    overflow-x: hidden;
}

.win9-setting>.left>.item>a.items {
    background-color: #f2f2f1;
    padding-left: 85px;
    color: #000;
    font-size: 16pt;
    padding-top: 5px;
    padding-bottom: 5px;
}

.win9-setting>.left>.item>a.items:hover {
    background-color: #dcdcdc;
}

.win9-setting>.left>.item>a.items.checked {
    background-color: #4120aa;
    color: #fff;
}


.win9-setting>.right {
    background-color: #fdfdfd;
    flex-grow: 1;
}

.win9-setting>.right>.setting-page {
    padding-left: 40px;
    padding-right: 40px;
    display: none;
}

@keyframes setting-page-show {
    from {
        transform: translate(10%, 0%);
    }

    to {
        transform: translate(0%, 0%);
    }
}

.win9-setting>.right>.setting-page.show {
    display: block;
    animation: setting-page-show 0.1s linear;
    animation-fill-mode: forwards;
}

.win9-setting>.right>.setting-page>.tit-text {
    color: #4120aa;
    font-size: 16pt;
}

.win9-setting>.right>.setting-page>.mainly-text {
    color: #000;
    font-size: 10pt;
    font-weight: bold;
}